<div class="col-lg-8 col-lg-offset-2">
    <br />
    <br />
    <h1>{{ title }}</h1>
    <div id="paginator" class="col-lg-9">

    </div>
</div>
<script src="scripts/paginated-entries.js"></script>
<script>
$("#document").ready(function() {
    var tag = '{{ tag }}';
    paginatedEntries("#paginator", tag);
});
</script>
