<div class="container">
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1 style="font-weight: bold">Tune Detail</h1>
      <p class="lead"><b>{{author}}</b> asks: <i>{{title}}</i></p>
      <div class="well form-horizontal">
        <div>
		  <script>
		    thisRecordingId = '{{_id}}';
		  </script>
          <div class="player" id="player_{{_id}}" wavFile="{{wavFile}}" midi="{{midi}}">
            <button type="button" class="btn btn-large btn-primary"><i class="fa fa-play"></i> Play</button>
          </div>
          <br />
        </div>
        <label for="author">Author:</label>
        <span name="author">{{author}}</span>
        <br />
        <label for="author">Submitted on:</label>
        <span name="author">{{timestamp}}</span>
        <br/>
        {{#each tags}}
          <a href="#/tag/{{this}}" class="btn btn-primary btn-warning btn-sm">{{this}}</a>
        {{/each}}
      </div>
      <div id="comments">
      {{#each comments}}
	  <blockquote data-votes="{{votes}}">
        <table>
        <tr>
        <td>
        <div class="voteBox" style="width:50px;font-size:21pt;text-align:center;">
            <div><i class="fa fa-arrow-up upvote" onclick="onUpvote(thisRecordingId, {{@index}})" title="+1 Vote Up (This is useful)"></i></div>
	    <div style="color:#737373;" id="voteCount_{{@index}}" title="Number of user votes (likes)">{{votes}}</div>
            <div><i class="fa fa-arrow-down downvote" onclick="onDownvote(thisRecordingId, {{@index}})" title="-1 Vote Down"></i></div>
        </div>
        <td>
        <h3>{{author}}</h3>
        <span style="font-size: smaller">{{body}}</span>
        <small style="text-align: right">on {{timestamp}}</small>
        </td>
        </tr>
        </table>
      </blockquote> 
      {{/each}}
      </div>
    </div>

  </div>
</div>
<h2>Do you know or have a hint? <b>Help!</b></h2>
<div class="col-lg-8">
  <form class="form-horizontal">
    <div class="bs-component">
      <div class="form-group">
        <label for="inputComment" class="col-lg-2 control-label">Your comment?</label>
        <div class="col-lg-10">
          <textarea id="inputComment" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Your dignity?</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="button" id="btnSubmitComment" class="btn btn-primary" onclick="onSubmitCommentClicked('{{_id}}');">Submit</button>
        </div>
      </div> 
    </div>
  </form>
</div>
</div>

<script src="scripts/player-widget.js"></script>
<script src="scripts/view-detail.js"></script>

