<div class="bs-component">
  <blockquote>
    <div class="col-lg-2 well" class="center-block" style="margin: 0 auto; padding: 0">
      <span class="badge text-center col-lg-offset-4" style="font-size: larger">{{comments.length}}</span>
      <span style="font-size: smaller" class="col-lg-offset-2">answers</span>
    </div>
    <div class="col-lg-10">
      <p>
        <div class="player" id="player_{{_id}}" wavFile="{{wavFile}}" midi="{{midi}}" style="float: right;">
          <button type="button" class="btn btn-large btn-primary"><i class="fa fa-play"></i> Play</button>
        </div>
        <h4 style="padding-bottom: 10px"><a href="#/recording/{{_id}}">{{title}}</a></h4>
      </p>
    </div>
    <div class="clearfix" style="padding-bottom: 10px"></div>
    <div class="row">
      <div class="col-lg-10">
        {{#each tags}}
          <a href="#/tag/{{this}}" class="btn btn-sm btn-warning btn-primary">{{this}}</a>
        {{/each}}
      </div>
      <small style="text-align:right"><i>Asked {{date}} by <b>{{author}}</b>.</i></small>
    </div>
  </blockquote>
</div>

<script src="scripts/player-widget.js"></script>
