<div class="container col-lg-12 col-md-12 col-sm-12" style="background-image: url(images/pagina.jpg); background-size: 100% auto; background-repeat: no-repeat">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="text-center col-lg-offset-2 col-lg-8 col-md-12 col-sm-12">
            <h1 style="font-weight: bold">Ask about a sound</h1>
            <p class="lead">A tune got stuck in your head? <b>Record your voice</b> or <b>play the piano</b> to see what it's called!</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div style="background-color: rgba(0,0,0,0.3)" class="well bs-component col-lg-offset-2 col-lg-8 col-md-8 col-md-offset-2">
            <form class="form-horizontal col-md-12">
              <fieldset>
              <div class="row">
                <div class="bs-component">
                  <ul class="nav nav-tabs" id="tabs">
                      <li class="active" id="tab_record"><a href="#home" data-toggle="tab">Record a sound</a></li>
                      <li id="tab_piano"><a href="#profile" data-toggle="tab">Play the piano</a></li>
                  </ul>
                  <div style="padding-bottom:0px; margin-bottom: 0px" id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="home">
                      <div name="new-recording" class="well new-recording" style="background-color: rgba(220, 220, 220, 0.4)">
                        <div class="viz">
                          <table>
                          <colgroup>
                            <col width="40%" />
                            <col width="10%" />
                            <col width="40%" />
                          </colgroup>
                          <tr>
                          <td>
                            <canvas id="analyser" width="300" height="100"></canvas>
                          </td>
                          <td></td>
                          <td>
                            <canvas id="wavedisplay" width="300" height="100"></canvas>
                          </td>
                          </tr>
                          <tr>
                          <td class="text-center">
                            <button type="button" id="btnRecord" onclick="toggleRecording(this);" class="btn btn-large btn-primary">Record</button>
                          </td>
                          <td></td>
                          <td class="text-center">
                            <button type="button" id="btnPlay" class="btn btn-primary" onclick="return togglePlayRecording()">Play</button>
                          </td>
                          </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="profile">
                      <ul class="piano" style="opacity: 0.7"><li class="key"><span class="white-key" data-key="20" data-note="1C"></span> <span class="black-key" data-key="81" data-note="1Cs"></span></li><li class="key"><span class="white-key" data-key="65" data-note="1D"></span> <span class="black-key" data-key="87" data-note="1Ds"></span></li><li class="key"><span class="white-key" data-key="83" data-note="1E"></span></li><li class="key"><span class="white-key" data-key="68" data-note="1F"></span> <span class="black-key" data-key="82" data-note="1Fs"></span></li><li class="key"><span class="white-key" data-key="70" data-note="1G"></span> <span class="black-key" data-key="84" data-note="1Gs"></span></li><li class="key"><span class="white-key" data-key="71" data-note="2A"></span> <span class="black-key" data-key="89" data-note="2As"></span></li><li class="key"><span class="white-key" data-key="72" data-note="2B"></span></li><li class="key"><span class="white-key" data-key="74" data-note="2C"></span> <span class="black-key" data-key="73" data-note="2Cs"></span></li><li class="key"><span class="white-key" data-key="75" data-note="2D"></span> <span class="black-key" data-key="79" data-note="2Ds"></span></li><li class="key"><span class="white-key" data-key="76" data-note="2E"></span></li><li class="key"><span class="white-key" data-key="186" data-note="2F"></span> <span class="black-key" data-key="219" data-note="2Fs"></span></li><li class="key"><span class="white-key" data-key="222" data-note="2G"></span> <span class="black-key" data-key="221" data-note="2Gs"></span></li><li class="key"><span class="white-key" data-key="220" data-note="3A"></span> <span class="black-key" data-key="13" data-note="3As"></span></li><li class="key"><span class="white-key" data-key="37" data-note="3B"></span></li></ul>
		      <table style="width: 100%">
		      <colgroup>
                            <col width="40%" />
                            <col width="10%" />
                            <col width="40%" />
                      </colgroup>
		      <tr>
		      <td class="text-center">
		      <button type="button" id="btnPianoRecord" class="btn btn-large btn-primary">Record</button>
	      	      </td>
		      <td></td>
		      <td class="text-center">
		      <div class="player" id="midiPlayer" midi='[]'>
			      <button type="button" id="btnPianoPlay" class="btn btn-primary">Play</button>
		      </div>
	      	      </td>
		      </tr>
	              </table>
	              <br>
                    </div>
                  </div>
                </div>
              </div>
                <div class="form-group">
                  <label for="inputEmail" style="color: beige" class="col-lg-4 control-label">Author</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputEmail" placeholder="How shall we call you?">
                  </div>
                </div>
                <div class="form-group">
                  <label for="textArea" style="color: beige" class="col-lg-4 control-label">Description</label>
                  <div class="col-lg-8">
                    <textarea class="form-control" placeholder="A hint or some details. Or just a kind, poetic request." rows="2" id="inputDescription"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputTags" style="color: beige" class="col-lg-4 control-label">Tags</label>
                  <div class="col-lg-8">
                    <input type="text" style="min-width: 100%" class="form-control" id="inputTags" data-role="tagsinput">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" onclick="submitRecording()" class="btn btn-primary" style="float: right">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
        </div>
      </div>

      <!-- Buttons
      ================================================== -->
</div>
<div class="container">
      <div class="bs-docs-section">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <h1 id="buttons" class="text-center">Or help others by guessing!</h1>
              <div id="paginator">
                
              </div>
            </div>
          </div>
        </div>

      </div>

      <footer>

      </footer>
</div>
<div class="clearfix"></div>
  
<script src="scripts/notes.js"></script>
<script src="scripts/3rdparty/recorderjs/recorder.js"></script>
<script src="scripts/3rdparty/piano.js"></script>
<script src="scripts/record.js"></script>
<script src="scripts/paginated-entries.js"></script>
<script src="scripts/view-master.js"></script>
<script src="scripts/player-widget.js"></script>
