<br />
<br />
<br />
<div class="bs-component">
  <div class="alert alert-danger">
    Your browser is <strong>not supported</strong>. Try using this app on a Google Chrome / Chrome for Android / iOS Safari browser.
  </div>
</div> 